@model IEnumerable<ExamenP10.Models.UBICACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIUDAD1.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTINENTE1.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAIS1.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CIUDAD1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTINENTE1.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAIS1.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
