@model ExamenP10.Models.REPORTE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>REPORTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AHORRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AHORRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MESES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE1.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
