@model ExamenP10.Models.CLIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIB1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIB1.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO1.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UBICACION1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UBICACION1.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
